
.st-catalog {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

@media screen and (min-width: 568px) and (orientation: landscape) {
    .st-catalog {
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
        width: 95%
    }
}

@media screen and (min-width: 768px) {
    .st-catalog {
        margin-left: auto;
        margin-right: auto;
        max-width: 98%;
        width: 98%
    }
}

@media screen and (min-width: 1024px) {
    .st-catalog {
        margin-left: auto;
        margin-right: auto;
        max-width: 98%;
        width: 98%
    }
}

@media screen and (min-width: 1280px) {
    .st-catalog {
        margin-left: auto;
        margin-right: auto;
        max-width: 98%;
        width: 98%
    }
}

@media screen and (min-width: 1440px) {
    .st-catalog {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        width: 80%
    }
}

@media screen and (min-width: 1920px) {
    .st-catalog {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        width: 80%
    }
}

@media screen and (min-width: 2560px) {
    .st-catalog {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        width: 80%
    }
}

.st-catalog .catalog-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: calc(4% / 2)
}

.st-catalog .catalog-item {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid green;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px
}

.st-catalog .catalog-item__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center
}

.st-catalog .catalog-item__img, .st-catalog .catalog-item__img img {
    width: 100%
}